<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-toast" version="1.0.0" 
       xmlns="http://apache.org/cordova/ns/plugins/1.0" 
       xmlns:android="http://schemas.android.com/apk/res/android">
       <name>ToastPlugin</name>
       <js-module name="ToastPlugin" src="www/ToastPlugin.js">
            <clobbers target="navigator.toast" />
       </js-module>
       <platform name="android">
           <config-file parent="/*" target="res/xml/config.xml">
                 <feature name="ToastPlugin">
                     <param name="android-package" value="cordova.plugin.toast.ToastPlugin" />
                 </feature>
            </config-file>
            <config-file parent="/*" target="AndroidManifest.xml"></config-file>
            <source-file src="src/android/ToastPlugin.java" target-dir="src/cordova/plugin/toast/ToastPlugin" />
         </platform>
</plugin>